@page "/color"
@using UnluCoProductCatalog.Application.ViewModels.BrandViewModels
@using UnluCoProductCatalog.Application.ViewModels.CategoryViewModels

@using System.Text
@using Newtonsoft.Json
@using UnluCoProductCatalog.Application.ViewModels.ColorViewModels
@using JsonSerializer = System.Text.Json.JsonSerializer
@inject IHttpClientFactory clientFactory

@if (Colors is null)
{

}

else
{
    <div class="d-flex">
        <div class="p-2 mr-auto">
            <div style="height :48vh; max-width:90%; margin:20px;">
                <h2>Renkler</h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Renk Adı</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="bg-light">
                        @foreach (var color in Colors)
                        {
                            <tr>
                                <td>@color.ColorName</td>
                                <td><button class="btn btn-warning">Ekle</button></td>
                                <td><button class="btn btn-warning " @onclick="()=>TakeColorId(color.Id)">Güncelle</button></td>
                                <td><button class="btn btn-danger" @onclick="() => DeleteColor(color.Id)">Sil</button></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        @if (IsUpdate)
        {
            <div class="p-6 " style="width: 50%;">
                <EditForm Model="_color" OnValidSubmit="AddColor" class="card card-body bg-light mt-5 w-75 p-3">
                    <h3>Marka</h3>
                    <div class="form-group row">
                        <label for="name" class="col-sm-4 col-form-label">Renk Adı</label>
                        <div class="col-sm-12">
                            <InputText id="name" class="form-control" @bind-Value="_color.ColorName" />
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-warning btn-block">Ekle</button>
                    </div>
                </EditForm>
            </div>
        }

        else
        {
            <div class="p-6 " style="width: 50%;">
                <EditForm Model="_color" OnValidSubmit="UpdateColor" class="card card-body bg-light mt-5 w-75 p-3">
                    <h3>Renk</h3>
                    <div class="form-group row">
                        <label for="deneme" class="col-sm-4 col-form-label">Renk Adı</label>
                        <div class="col-sm-12">
                            <InputText id="deneme" class="form-control" @bind-Value="_color.ColorName" />
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-warning btn-block">Güncelle</button>
                    </div>
                </EditForm>
            </div>
        }

    </div>

}

@code {

    public IEnumerable<ColorViewModel> Colors { get; set; }
    private readonly ColorViewModel _color = new ColorViewModel();
    public string ColorName { get; set; }
    public int ColorId { get; set; }
    public bool IsUpdate { get; set; } = true;


    public void TakeColorId(int id)
    {
        ColorId = id;
        IsUpdate = false;
    }

    public async void AddColor()
    {
        var client = clientFactory.CreateClient();

        string path = "http://localhost:3000/api/Colors";


        var request = new HttpRequestMessage(HttpMethod.Post, path);

        var content = JsonSerializer.Serialize(_color);

        var bodyContent = new StringContent(content, Encoding.UTF8, "application/json");


        var response = await client.PostAsync(path, bodyContent);
        
        StateHasChanged();



    }

    protected override async Task OnInitializedAsync()
    {
        var client = clientFactory.CreateClient();

        string path = "http://localhost:3000/api/Colors";

        var request = new HttpRequestMessage(HttpMethod.Get, path);

        var response = await client.SendAsync(request);

        if (response.IsSuccessStatusCode)
        {

            var json = await response.Content.ReadAsStringAsync();
            Colors = JsonConvert.DeserializeObject<IEnumerable<ColorViewModel>>(json).Take(10);
        }
        StateHasChanged();
    }

    public async void UpdateColor()
    {

        var client = clientFactory.CreateClient();

        string path = "http://localhost:3000/api/Colors/" + ColorId;

        var request = new HttpRequestMessage(HttpMethod.Put, path);

        var content = JsonSerializer.Serialize(_color);

        var bodyContent = new StringContent(content, Encoding.UTF8, "application/json");

        var result = await client.PutAsync(path, bodyContent);
        var response = await client.SendAsync(request);
        StateHasChanged();

    }

    public async void DeleteColor(int id)
    {
        var client = clientFactory.CreateClient();

        string path = "http://localhost:3000/api/Colors/" + id;

        var request = new HttpRequestMessage(HttpMethod.Delete, path);

        var content = JsonSerializer.Serialize(_color);

        var bodyContent = new StringContent(content, Encoding.UTF8, "application/json");

        var result = await client.DeleteAsync(path);

        var response = await client.SendAsync(request);
        StateHasChanged();

    }
}